body{
    height: 300px;
    width: 500px;
    border-top: yellow dotted 10px ;
    border-left: red dashed 10px;
    border-right: green solid 10px;
    border-bottom: blue double 10px;
}
h1{
    font-size: 30px;
    text-shadow: 2px 2px 2px gray;
}
h3 {
    font-size: 18px;
    text-shadow: 2px 2px 2px gray;
}
input {
    color: orange;
    
}
